<h1 class="text-center mt-4">#Event <%= @event.id %>:</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <div class="card-text text-left"><strong>Location: </strong> <%= simple_format(@event.location) %></div>
          <div class="card-text text-left"><strong>Time: </strong><%= simple_format(@event.date) %></div>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_event_path(@event), class: "btn btn-outline-info" %>
            <%= link_to "Delete", event_path(@event), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted bg-dark">
          <small class="text-light">Created <%= time_ago_in_words(@event.created_at) %> ago, 
          edited <%= time_ago_in_words(@event.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "[See all other events here]", events_path, class: "text-dark d-flex justify-content-center" %>
</div>